In [48]:
## Exercise 1 Lists and Strings

boys = ['Jon', 'Sam', 'Bill']
girls = ['Sara','Joan','Adi']
print (boys)

boys.append('Frank')
print (boys)

girls.insert(0,'Elizabeth')
print (girls)

bride = girls.pop()
print (bride)

groom = boys.pop(0)
print (groom)

print(boys)
boys.remove(boys[-1]) #negative index selects last boy in list, without know his name
print(boys)

names = boys + girls
print (names)

print('\nextend() would add one of the lists to the other, \nrather than create a new combined list.')

['Jon', 'Sam', 'Bill']
['Jon', 'Sam', 'Bill', 'Frank']
['Elizabeth', 'Sara', 'Joan', 'Adi']
Adi
Jon
['Sam', 'Bill', 'Frank']
['Sam', 'Bill']
['Sam', 'Bill', 'Elizabeth', 'Sara', 'Joan']

extend() would add one of the lists to the other,
rather than create a new combined list.

In [68]:
## Exercise 2 Lists and Strings

jon = ['Jon', 27,False ]
sam = ['Sam', 37, True ]
bill = ['Bill', 33, True ]
print (sam)

sam.remove(sam[1])  
sam.insert(1,35)    #Modify Sam's age
print (sam)

guys = [jon, sam, bill]
print (guys)

ron = ['Ron', 42, False]
guys.append(ron)    # append Ron to guys
print (guys)

jon.remove(jon[1])  
jon.insert(1,35)    #Modify Jon's age in guys
print (guys)

jon.pop()  # Remove Jon's marital status with pop
print (guys)

bill.remove(bill[2]) #Remove Bill's marital status with remove
print (guys)

['Sam', 37, True]
['Sam', 35, True]
[['Jon', 27, False], ['Sam', 35, True], ['Bill', 33, True]]
[['Jon', 27, False], ['Sam', 35, True], ['Bill', 33, True], ['Ron', 42, False]]
[['Jon', 35, False], ['Sam', 35, True], ['Bill', 33, True], ['Ron', 42, False]]
[['Jon', 35], ['Sam', 35, True], ['Bill', 33, True], ['Ron', 42, False]]
[['Jon', 35], ['Sam', 35, True], ['Bill', 33], ['Ron', 42, False]]

In [3]:
#Exercise 3 Lists and Strings
sentence = 'Hello, my name is Simon'
print('\n'.join(sentence.split()))

#Count m's with string count method
m1_count = sentence.count('m')
print (m1_count)

#Count m's in sentence without string method
m2_count = len(sentence.split("m"))-1 #Count splits with m, subtract 1 gets number of m in string
print (m2_count)

Hello,
my
name
is
Simon
3
3

In [6]:
# Exercise 1 Dictionary

my_dict = {'a': ['alberto','amazing', 'anomaly'],
           'b': ['babble','bobby','blister'],
           'c': ['charlie', 'chef', 'call']}
print ('\n', my_dict)
my_dict['a'].append('answer')
my_dict['b'].append('bail')
my_dict['c'].append('channel')
print ('\n', my_dict)
d_dict = {'d': ['donald','duck']}
my_dict.update(d_dict)
print ('\n', my_dict)

words = list(my_dict.values())
print ('\n', words)

 {'a': ['alberto', 'amazing', 'anomaly'], 'b': ['babble', 'bobby', 'blister'], 'c': ['charlie', 'chef', 'call']}

 {'a': ['alberto', 'amazing', 'anomaly', 'answer'], 'b': ['babble', 'bobby', 'blister', 'bail'], 'c': ['charlie', 'chef', 'call', 'channel']}

 {'a': ['alberto', 'amazing', 'anomaly', 'answer'], 'b': ['babble', 'bobby', 'blister', 'bail'], 'c': ['charlie', 'chef', 'call', 'channel'], 'd': ['donald', 'duck']}

 [['alberto', 'amazing', 'anomaly', 'answer'], ['babble', 'bobby', 'blister', 'bail'], ['charlie', 'chef', 'call', 'channel'], ['donald', 'duck']]

In [7]:
# Exercise 2 Tuples & Dictionary
# List of cities
cad_cities = ['Montreal', 'Toronto', 'Calgary']
usa_cities = ['New York', 'Denver', 'Seattle']
ar_cities = ['Bueonos Aires', 'Cordoba', 'Rosario']
ur_cities = ['Montevideo', 'Salto', 'Rivera']

# Continental dictionairies
n_america = {'Canada': cad_cities,
             'USA': usa_cities}
s_america = {'Argentina': ar_cities,
             'Uruguay': ur_cities}
print(n_america)
print(s_america)

# Create new world_dict
world_dict = {'North America': n_america,
              'South America': s_america}
print('\nworld_dict = ', world_dict)

{'Canada': ['Montreal', 'Toronto', 'Calgary'], 'USA': ['New York', 'Denver', 'Seattle']}
{'Argentina': ['Bueonos Aires', 'Cordoba', 'Rosario'], 'Uruguay': ['Montevideo', 'Salto', 'Rivera']}

world_dict =  {'North America': {'Canada': ['Montreal', 'Toronto', 'Calgary'], 'USA': ['New York', 'Denver', 'Seattle']}, 'South America': {'Argentina': ['Bueonos Aires', 'Cordoba', 'Rosario'], 'Uruguay': ['Montevideo', 'Salto', 'Rivera']}}

In [4]:
#Exercise 1 Sets
word_a = 'international'
word_b = 'wonderful'
a = set(word_a)
b = set(word_b)
common_letters = a & b
print(len(common_letters), common_letters)

5 {'o', 'n', 'e', 'l', 'r'}

In [40]:
#Exercise 2 Sets
sunday_visitors = ['abe', 'bob', 'carl', 'dave', 'ed',
                   'heinrich', 'isabel', 'abe', 'fred']
monday_visitors = ['abe', 'gale', 'ed', 'fred']
tuesday_visitors = ['ed', 'bob', 'jack', 'fred', 'abe',
                    'abe', 'jack', 'kent', 'gale']

sunday_set = set(sunday_visitors)
monday_set = set(monday_visitors)
tuesday_set = set(tuesday_visitors)

#1
sunday_unique = sunday_set - monday_set - tuesday_set
print('sunday unique visitors', sunday_unique)

monday_unique = monday_set - tuesday_set - sunday_set
print('Monday unique visitors', monday_unique)

tuesday_unique = tuesday_set- monday_set - sunday_set
print ('Tuesday unique visitors', tuesday_unique)

visitor_list = sunday_set | monday_set | tuesday_set
print ('\nVisitor List', visitor_list)

#2

every_day_visit = 'Sunday'
if len(monday_set - sunday_set - tuesday_set) == 0:
    every_day_visit = 'Monday'
if len(tuesday_set - monday_set - sunday_set) == 0:
    every_day_visit = 'Tuesday'

print('\nOn', every_day_visit, 'every visitor had also visited on another day')

#3
multi_day_visitors =  sunday_set & monday_set | sunday_set & tuesday_set | monday_set & tuesday_set
print ('\nMulti day visitors:', multi_day_visitors)
every_day_visitors =  tuesday_set & sunday_set & monday_set 
print('Visited every day:', every_day_visitors)

#4
tuesday_visit_only = tuesday_set - monday_set - sunday_set
print ('\nVisited only on Tuesday:', tuesday_visit_only)

#5
sun_mon = sunday_set | monday_set 
sun_mon = sun_mon - tuesday_set
print('\nVisited on Sunday and Monday only', sun_mon)

sunday unique visitors {'isabel', 'heinrich', 'dave', 'carl'}
Monday unique visitors set()
Tuesday unique visitors {'kent', 'jack'}

Visitor List {'gale', 'carl', 'jack', 'kent', 'abe', 'isabel', 'dave', 'fred', 'heinrich', 'ed', 'bob'}

On Monday every visitor had also visited on another day

Multi day visitors: {'gale', 'abe', 'fred', 'ed', 'bob'}
Visited every day: {'fred', 'abe', 'ed'}

Visited only on Tuesday: {'kent', 'jack'}

Visited on Sunday and Monday only {'isabel', 'heinrich', 'dave', 'carl'}